## DATA PREPROCESSING

In [1]:
from sklearn.ensemble import RandomForestClassifier
import pandas as pd
import numpy as np

In [2]:
df = pd.read_excel("category1.xlsx",sheet_name= [0,1,2,3,4,5,6,7])

In [3]:
df3 = df[3].drop(['date','location_name'], 1)
df3['location']= df3['location_id'].combine_first(df3['place_id'])
df3['location'].fillna("99", inplace = True)
df3 = df3.drop(['location_category','my_place','location_id','place_id'], 1)
df3.tail()

,user_id,weekday,start_time,end_time,duration,category,category_id,location
82,1,4,15:30:00,18:20:00,02:50:00,home,2,1
83,1,4,18:20:00,18:50:00,00:30:00,commute,17,99
84,1,4,18:50:00,22:00:00,03:10:00,lesson,4,17
85,1,4,22:00:00,22:40:00,00:40:00,commute,17,99
86,1,4,22:40:00,00:00:00,1899-12-30 01:20:00,home,2,1

In [4]:
df4 = df[4].drop(['date','location_name'], 1)
df4['location']= df4['location_id'].combine_first(df4['place_id'])
df4['location'].fillna("99", inplace = True)
df4 = df4.drop(['location_category','my_place','location_id','place_id'], 1)
df4.tail()

,user_id,weekday,start_time,end_time,duration,category,category_id,location
115,2,4,23:00:00,00:00:00,1899-12-30 01:00:00,home,2,1
116,2,5,00:00:00,00:30:00,00:30:00,home,2,1
117,2,5,00:30:00,09:15:00,08:45:00,sleep,3,1
118,2,5,09:15:00,09:45:00,00:30:00,commute,17,99
119,2,5,09:45:00,12:00:00,02:15:00,work,6,2

In [5]:
df5 = df[5].drop(['date','location_name'], 1)
df5['location']= df5['location_id'].combine_first(df5['place_id'])
df5['location'].fillna("99", inplace = True)
df5 = df5.drop(['location_category','my_place','location_id','place_id'], 1)
df5.tail()

,user_id,weekday,start_time,end_time,duration,category,category_id,location
61,3,4,08:30:00,10:00:00,01:30:00,exercise,9,8
62,3,4,10:00:00,11:30:00,01:30:00,sleep,3,3
63,3,4,11:30:00,12:20:00,00:50:00,food,1,5
64,3,4,12:20:00,12:35:00,00:15:00,commute,17,99
65,3,4,12:35:00,00:00:00,1899-12-30 11:25:00,home,2,1

In [6]:
df6 = df[6].drop(['date','location_name'], 1)
df6['location']= df6['location_id'].combine_first(df6['place_id'])
df6['location'].fillna("99", inplace = True)
df6 = df6.drop(['location_category','my_place','location_id','place_id'], 1)
df6.tail()

,user_id,weekday,start_time,end_time,duration,category,category_id,location
87,4,4,13:30:00,18:30:00,05:00:00,work,6,2
88,4,4,18:30:00,18:50:00,00:20:00,commute,17,99
89,4,4,18:50:00,19:05:00,00:15:00,food,1,10
90,4,4,19:05:00,19:30:00,00:25:00,commute,17,99
91,4,4,19:30:00,00:00:00,1899-12-30 04:30:00,home,2,1

In [7]:
df7 = df[7].drop(['date','location_name'], 1)
df7['location']= df7['location_id'].combine_first(df7['place_id'])
df7['location'].fillna("99", inplace = True)
df7 = df7.drop(['location_category','my_place','location_id','place_id'], 1)
df7.tail()

,user_id,weekday,start_time,end_time,duration,category,category_id,location
69,5,5,00:00:00,00:45:00,00:45:00,home,2,1
70,5,5,00:45:00,07:50:00,07:05:00,sleep,3,1
71,5,5,07:50:00,08:10:00,00:20:00,food,1,1
72,5,5,08:10:00,09:25:00,01:15:00,commute,17,99
73,5,5,09:25:00,13:30:00,04:05:00,work,6,3

In [8]:
df3 = df3.append(df4)
df3 = df3.append(df5)
df3 = df3.append(df6)
df3 = df3.append(df7)
df3

,user_id,weekday,start_time,end_time,duration,category,category_id,location
0,1,2,00:00:00,03:00:00,03:00:00,home,2,1
1,1,2,03:00:00,13:00:00,10:00:00,sleep,3,1
2,1,2,13:00:00,14:30:00,01:30:00,home,2,1
3,1,2,14:30:00,15:30:00,01:00:00,commute,17,99
4,1,2,15:30:00,19:25:00,03:55:00,meeting,13,4
5,1,2,19:25:00,20:05:00,00:40:00,commute,17,99
6,1,2,20:05:00,20:40:00,00:35:00,food,1,5
7,1,2,20:40:00,20:50:00,00:10:00,commute,17,99
8,1,2,20:50:00,00:00:00,1899-12-30 03:10:00,home,2,1
9,1,3,00:00:00,00:30:00,00:30:00,home,2,1
10,1,3,00:30:00,02:30:00,02:00:00,schoolwork,5,1
11,1,3,02:30:00,03:00:00,00:30:00,home,2,1
12,1,3,03:00:00,12:30:00,09:30:00,sleep,3,1
13,1,3,12:30:00,18:00:00,05:30:00,home,2,1
14,1,3,18:00:00,18:20:00,00:20:00,commute,17,99
15,1,3,18:20:00,23:30:00,05:10:00,entertainment,8,15
16,1,3,23:30:00,00:00:00,1899-12-30 00:30:00,commute,17,99
17,1,4,00:00:00,00:10:00,00:10:00,commute,17,99
18,1,4,00:10:00,03:00:00,02:50:00,home,2,1
19,1,4,03:00:00,09:40:00,06:40:00,sleep,3,1
20,1,4,09:40:00,10:15:00,00:35:00,home,2,1
21,1,4,10:15:00,11:30:00,01:15:00,commute,17,99
22,1,4,11:30:00,14:10:00,02:40:00,exercise,9,16
23,1,4,14:10:00,14:25:00,00:15:00,commute,17,99
24,1,4,14:25:00,15:30:00,01:05:00,food,1,5
25,1,4,15:30:00,16:50:00,01:20:00,commute,17,99
26,1,4,16:50:00,18:35:00,01:45:00,home,2,1
27,1,4,18:35:00,18:45:00,00:10:00,commute,17,99
28,1,4,18:45:00,19:30:00,00:45:00,dating,10,7
29,1,4,19:30:00,19:40:00,00:10:00,commute,17,99
...,...,...,...,...,...,...,...,...
44,5,1,07:50:00,16:10:00,08:20:00,sport,9,8
45,5,1,16:10:00,16:40:00,00:30:00,food,1,6
46,5,1,16:40:00,18:15:00,01:35:00,commute,17,99
47,5,1,18:15:00,20:20:00,02:05:00,food,1,6
48,5,1,20:20:00,00:00:00,1899-12-30 03:40:00,home,2,1
49,5,2,00:00:00,06:35:00,06:35:00,sleep,3,1
50,5,2,06:35:00,08:50:00,02:15:00,food,1,1
51,5,2,08:50:00,14:40:00,05:50:00,sleep,3,1
52,5,2,14:40:00,15:05:00,00:25:00,beauty,16,1
53,5,2,15:05:00,15:30:00,00:25:00,commute,17,99
54,5,2,15:30:00,19:00:00,03:30:00,meeting,13,4
55,5,2,19:00:00,20:20:00,01:20:00,dating,10,6
56,5,2,20:20:00,20:40:00,00:20:00,commute,17,99
57,5,2,20:40:00,21:30:00,00:50:00,dating,10,6
58,5,2,21:30:00,23:30:00,02:00:00,home,2,1
59,5,2,23:30:00,00:00:00,1899-12-30 00:30:00,sleep,3,1
60,5,3,00:00:00,06:10:00,06:10:00,sleep,3,1
61,5,3,06:10:00,11:50:00,05:40:00,home,2,1
62,5,3,11:50:00,12:00:00,00:10:00,commute,17,99
63,5,3,12:00:00,12:20:00,00:20:00,beauty,16,14
64,5,3,12:20:00,12:30:00,00:10:00,commute,17,99
65,5,3,12:30:00,00:00:00,1899-12-30 11:30:00,home,2,1
66,5,4,00:00:00,01:10:00,01:10:00,home,2,1
67,5,4,01:10:00,09:50:00,08:40:00,sleep,3,1
68,5,4,09:50:00,00:00:00,1899-12-30 14:10:00,home,2,1
69,5,5,00:00:00,00:45:00,00:45:00,home,2,1
70,5,5,00:45:00,07:50:00,07:05:00,sleep,3,1
71,5,5,07:50:00,08:10:00,00:20:00,food,1,1
72,5,5,08:10:00,09:25:00,01:15:00,commute,17,99
73,5,5,09:25:00,13:30:00,04:05:00,work,6,3

In [9]:
def tomins(ts):
    a = ts.hour*60 + ts.minute
    return a

df3['start_time'] = df3['start_time'].apply(tomins)
df3['end_time'] = df3['end_time'].apply(tomins)
df3['duration'] = df3['duration'].apply(tomins)

df3.head()

,user_id,weekday,start_time,end_time,duration,category,category_id,location
0,1,2,0,180,180,home,2,1
1,1,2,180,780,600,sleep,3,1
2,1,2,780,870,90,home,2,1
3,1,2,870,930,60,commute,17,99
4,1,2,930,1165,235,meeting,13,4

In [10]:
cols = df3.columns
for col in cols:
    print(col)

user_id
weekday
start_time
end_time
duration
category
category_id
location

## Random Forest Model

In [11]:
train_df = df3[df3['weekday'] < 4]
test_df = df3[df3['weekday'] >= 4]
print("Number of traing data is :",len(train_df))
print("Number of testing data is :",len(test_df))

Number of traing data is : 193
Number of testing data is : 246

In [12]:
# without diff
X_train = train_df.iloc[:, np.r_[0:4, 7]].values
y_train = train_df.iloc[:, 6].values

X_test = test_df.iloc[:, np.r_[0:4, 7]].values
y_test = test_df.iloc[:, 6].values

In [13]:
clf = RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=2, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=100, n_jobs=-1,
            oob_score=False, random_state=50, verbose=0,
            warm_start=False)
clf.fit(X_train, y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=2, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=100, n_jobs=-1,
            oob_score=False, random_state=50, verbose=0, warm_start=False)

In [14]:
clf.score(X_test, y_test)

0.8008130081300813

In [15]:
imp = clf.feature_importances_
imp

array([0.07474598, 0.03433832, 0.23517535, 0.21636921, 0.43937114])