In [23]:
import pymysql
import MySQLdb
import pandas as pd
import numpy as np
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import classification_report,confusion_matrix

In [25]:
conn = pymysql.connect(host='127.0.0.1', user='root',password='chchboss',database='mo')

cur = conn.cursor()
sql = "SELECT * FROM track"
cur.execute(sql)
results = cur.fetchall()
conn.commit()

#print(results)

user_id = []
start_date = []
end_time = []
end_date = []
weekday = []
start_time = []
category_id = []
map_id = []
place_id = []

for row in results:
    user_id.append(row[1])
    start_date.append(row[2])
    start_time.append(row[3])
    weekday.append(row[4])
    end_date.append(row[5])
    end_time.append(row[6])
    category_id.append(row[7])
    map_id.append(row[8])
    place_id.append(row[9])

all_data = {
    "user_id" : user_id,
    "start_date" : start_date,
    "start_time" : start_time,
    "weekday" : weekday,
    "end_date" : end_date,
    "end_time" : end_time,
    "category_id" : category_id,
    "map_id" : map_id,
    "place_id" : place_id,
}
df = pd.DataFrame(all_data)
df.head()

,user_id,start_date,start_time,weekday,end_date,end_time,category_id,map_id,place_id
0,2,2020/6/29,16:00,2,2020/6/29,19:00,13,4,0
1,2,2020/6/29,19:00,2,2020/6/29,20:00,1,5,0
2,2,2020/6/29,20:00,2,2020/6/29,20:30,10,0,1
3,2,2020/6/29,20:30,2,2020/6/29,21:30,12,6,0
4,2,2020/6/29,21:30,2,2020/6/29,23:30,5,0,1