In [28]:
import pymysql
import MySQLdb
import pandas as pd

In [37]:
conn = pymysql.connect(host='127.0.0.1', user='root',password='chchtest',database='appdb')

cur = conn.cursor()
sql = "SELECT * FROM track123"
cur.execute(sql)
results = cur.fetchall()
conn.commit()
user_id = []
date = []
weekday = []
start_time = []
duration = []
category = []
location_category = []
my_place = []
location_id = []
place_id = []

for row in results:
    user_id.append(row[0])
    date.append(row[1])
    weekday.append(row[2])
    start_time.append(row[3])
    duration.append(row[4])
    category.append(row[5])
    location_category.append(row[6])
    my_place.append(row[7])
    location_id.append(row[8])
    place_id.append(row[9])

all_data = {
    "user_id" : user_id,
    "date" : date,
    "weekday" : weekday,
    "start_time" : start_time,
    "duration" : duration,
    "category" : category,
    "location_category" : location_category,
    "my_place" : my_place,
    "location_id" : location_id,
    "place_id" : place_id,
}
df = pd.DataFrame(all_data)
df.head()

,user_id,date,weekday,start_time,duration,category,location_category,my_place,location_id,place_id
0,1,7/2,5,16:10,06:20,meeting,13,University,school,13
1,2,6月29日,2,16:00,03:00,None,13,cafe,,4
2,2,6月29日,2,16:00,03:00,meeting,13,cafe,,4
3,2,6月29日,2,19:00,01:00,food,1,restaurant,,5
4,2,6月29日,2,20:00,00:30,leisure,10,,home,0