## Import Track Data

In [4]:
import pymysql
import MySQLdb
import pandas as pd
import numpy as np

In [6]:
conn = pymysql.connect(host='127.0.0.1', user='APP',password='bunnytrack',database='mo')
cur = conn.cursor()
sql = "SELECT * FROM track_test"
cur.execute(sql)
results = cur.fetchall()
conn.commit()

#print(results)

user_id = []
start_date = []
end_time = []
end_date = []
weekday = []
start_time = []
category_id = []
map_id = []
place_id = []


for row in results:
    user_id.append(row[1])
    start_date.append(row[2])
    start_time.append(row[3])
    weekday.append(row[4])
    end_date.append(row[5])
    end_time.append(row[6])
    category_id.append(row[7])
    map_id.append(row[8])
    place_id.append(row[9])

all_data = {
    "user_id" : user_id,
    "start_date" : start_date,
    "start_time" : start_time,
    "weekday" : weekday,
    "end_date" : end_date,
    "end_time" : end_time,
    "category_id" : category_id,
    "map_id" : map_id,
    "place_id" : place_id,
}
df = pd.DataFrame(all_data)
df.head()

,user_id,start_date,start_time,weekday,end_date,end_time,category_id,map_id,place_id
0,2,2020-08-20,12:35,5,2020-08-20,23:59,0,99,0
1,2,2020-08-20,13:06,5,2020-08-20,23:59,0,5,0
2,2,2020-08-20,13:50,5,2020-08-20,23:59,0,13,0
3,2,2020-08-20,18:12,5,2020-08-20,23:59,0,99,0
4,2,2020-08-20,18:30,5,2020-08-20,23:59,0,5,0

## Data preprocessing

In [ ]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import classification_report,confusion_matrix
import datetime as dt
from datetime import datetime