## DATA PREPROCESSING

In [1]:
from sklearn.ensemble import RandomForestClassifier
import pandas as pd
import numpy as np

In [2]:
df = pd.read_excel("category1.xlsx",sheet_name= [0,1,2,3,4,5])

FileNotFoundError: [Errno 2] No such file or directory: 'category1.xlsx'

In [3]:
df4 = df[4].drop(['date','location_name'], 1)
df4['location']= df4['location_id'].combine_first(df4['place_id'])
df4['location'].fillna("99", inplace = True)
df4 = df4.drop(['location_category','my_place','location_id','place_id'], 1)
df4.head()

,user_id,weekday,start_time,end_time,duration,category,category_id,location
0,2,2,16:00:00,19:00:00,03:00:00,meeting,13,4
1,2,2,19:00:00,20:00:00,01:00:00,food,1,5
2,2,2,20:00:00,20:30:00,00:30:00,home,2,1
3,2,2,20:30:00,21:30:00,01:00:00,shopping,12,6
4,2,2,21:30:00,23:30:00,02:00:00,study,3,1

In [4]:
def tomins(ts):
    a = ts.hour*60 + ts.minute
    return a

df4['start_time'] = df4['start_time'].apply(tomins)
df4['end_time'] = df4['end_time'].apply(tomins)
df4['duration'] = df4['duration'].apply(tomins)

df4.head()

,user_id,weekday,start_time,end_time,duration,category,category_id,location
0,2,2,960,1140,180,meeting,13,4
1,2,2,1140,1200,60,food,1,5
2,2,2,1200,1230,30,home,2,1
3,2,2,1230,1290,60,shopping,12,6
4,2,2,1290,1410,120,study,3,1

In [5]:
cols = df4.columns
for col in cols:
    print(col)

user_id
weekday
start_time
end_time
duration
category
category_id
location

## Random Forest Model

In [6]:
train_df = df4[df4['weekday'] < 5]
test_df = df4[df4['weekday'] >= 5]
print("Number of traing data is :",len(train_df))
print("Number of testing data is :",len(test_df))

Number of traing data is : 39
Number of testing data is : 37

In [7]:
# without diff
X_train = train_df.iloc[:, np.r_[0:4, 7]].values
y_train = train_df.iloc[:, 6].values

X_test = test_df.iloc[:, np.r_[0:4, 7]].values
y_test = test_df.iloc[:, 6].values

In [8]:
clf = RandomForestClassifier()

clf.fit(X_train, y_train)

/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/sklearn/ensemble/forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=None,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [9]:
clf.score(X_test, y_test)

0.5945945945945946