## DATA PREPROCESSING

In [1]:
import pandas as pd
import numpy as np
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import classification_report,confusion_matrix

In [2]:
df = pd.read_excel("category.xlsx",sheet_name= [1,4])
loc_to_cat = df[1]
allUserData = df[4]
#userData = [df[3], df[4], df[5], df[6], df[7]]

#for i in userData[1:]:
#    allUserData = allUserData.append(i)
allUserData.head()

,user_id,date,weekday,start_time,duration,category,category_id,location_name,location_category,my_place,location_id,place_id
0,2,2020-06-29,2,16:00:00,03:00:00,meeting,13,路易莎,cafe,NaN,4.0,NaN
1,2,2020-06-29,2,19:00:00,01:00:00,food,1,全哥鵝肉小炒,restaurant,NaN,5.0,NaN
2,2,2020-06-29,2,20:00:00,00:30:00,home,2,NaN,NaN,home,NaN,1.0
3,2,2020-06-29,2,20:30:00,01:00:00,shopping,12,Miramar,Shopping mall,NaN,6.0,NaN
4,2,2020-06-29,2,21:30:00,02:00:00,study,5,NaN,NaN,home,NaN,1.0

In [3]:
allUserData['location']= allUserData['location_id'].combine_first(allUserData['place_id'])
allUserData['location'].fillna("99", inplace = True)
allUserData = allUserData.drop(['date','location_name','location_category','my_place','location_id','place_id'], 1)

In [4]:
def to_mins(ts):
    a = ts.hour*60 + ts.minute
    return a

allUserData['start_time'] = allUserData['start_time'].apply(to_mins)
allUserData['duration'] = allUserData['duration'].apply(to_mins)

allUserData.tail()

     user_id  weekday  start_time  duration category  category_id location
300        2        7         120       420    sleep            3        1
301        2        7         540        20     home            2        1
302        2        7         560        40  commute           17       99
303        2        7         600       180  hangout           11        4
304        2        7         780        60     food            1        5

In [5]:
cols = allUserData.columns
for col in cols:
    print(col)

user_id
weekday
start_time
duration
category
category_id
location

## Random Forest Model

In [6]:
train_df = allUserData[allUserData['weekday'] < 5]
test_df = allUserData[allUserData['weekday'] >= 5]
print("Number of traing data is :",len(train_df))
print("Number of testing data is :",len(test_df))

Number of traing data is : 166
Number of testing data is : 139

In [7]:
# without diff
X_train = train_df.iloc[:, np.r_[0:3, 6]].values
y_train = train_df.iloc[:, 5].values

X_test = test_df.iloc[:, np.r_[0:3, 6]].values
y_test = test_df.iloc[:, 5].values

In [8]:
clf = RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=2, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=100, n_jobs=-1,
            oob_score=False, random_state=50, verbose=0,
            warm_start=False)
clf.fit(X_train, y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=2, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=100, n_jobs=-1,
            oob_score=False, random_state=50, verbose=0, warm_start=False)

In [9]:
clf.score(X_test, y_test)

0.7841726618705036

In [10]:
imp = clf.feature_importances_
imp

array([0.        , 0.04307985, 0.29493397, 0.66198618])

In [11]:
predictions = clf.predict(X_test)
print(classification_report(y_test,predictions))

              precision    recall  f1-score   support

           1       0.56      0.78      0.65        18
           2       1.00      0.92      0.96        24
           3       0.86      1.00      0.92        12
           4       0.50      0.75      0.60         4
           5       0.00      0.00      0.00         1
           6       0.69      0.90      0.78        10
           7       0.00      0.00      0.00         1
           8       0.00      0.00      0.00         2
           9       0.25      1.00      0.40         2
          11       0.00      0.00      0.00         3
          12       0.00      0.00      0.00         4
          13       0.00      0.00      0.00         4
          16       0.00      0.00      0.00         3
          17       0.94      0.98      0.96        48
          18       0.00      0.00      0.00         3

   micro avg       0.78      0.78      0.78       139
   macro avg       0.32      0.42      0.35       139
weighted avg       0.71      0.78      0.74       139

/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/sklearn/metrics/classification.py:1143: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples.
  'precision', 'predicted', average, warn_for)

In [12]:
print(confusion_matrix(y_test,predictions))

[[14  0  0  2  0  0  0  0  1  0  0  0  0  1  0]
 [ 0 22  2  0  0  0  0  0  0  0  0  0  0  0  0]
 [ 0  0 12  0  0  0  0  0  0  0  0  0  0  0  0]
 [ 0  0  0  3  0  0  0  0  0  0  0  0  0  1  0]
 [ 1  0  0  0  0  0  0  0  0  0  0  0  0  0  0]
 [ 0  0  0  0  0  9  0  0  1  0  0  0  0  0  0]
 [ 1  0  0  0  0  0  0  0  0  0  0  0  0  0  0]
 [ 0  0  0  1  0  0  0  0  1  0  0  0  0  0  0]
 [ 0  0  0  0  0  0  0  0  2  0  0  0  0  0  0]
 [ 3  0  0  0  0  0  0  0  0  0  0  0  0  0  0]
 [ 2  0  0  0  0  0  0  1  0  0  0  0  0  1  0]
 [ 0  0  0  0  0  4  0  0  0  0  0  0  0  0  0]
 [ 3  0  0  0  0  0  0  0  0  0  0  0  0  0  0]
 [ 0  0  0  0  0  0  0  0  1  0  0  0  0 47  0]
 [ 1  0  0  0  0  0  0  0  2  0  0  0  0  0  0]]

In [13]:
predictions

array([ 3,  3,  2, 17,  6,  1,  6, 17,  6, 17,  2,  3,  2, 17,  6,  1,  6,
       17,  1,  4, 17, 17,  2,  3,  2, 17,  1,  1, 17,  4,  1,  9,  9, 17,
        2,  3, 17,  6,  1, 17,  1, 17,  6, 17,  2, 17, 17,  9,  9, 17,  2,
        3,  2, 17,  1, 17,  1, 17,  6, 17, 17,  4, 17,  3,  3,  2, 17,  1,
       17,  2, 17,  1, 17,  9,  2,  3,  2, 17,  6, 17,  6, 17,  1, 17,  2,
       17,  9, 17,  2,  3,  2, 17,  1, 17,  1, 17,  1, 17,  1, 17,  4,  4,
       17,  9,  3,  1, 17,  1,  1,  1, 17,  8, 17,  9,  3,  2, 17,  6, 17,
        2, 17,  6,  1, 17,  2,  3,  2, 17,  6, 17,  1,  4, 17,  2,  3,  2,
       17,  1,  1])

## User Data

In [258]:
location = pd.read_csv("location1.csv")
location

,location_id,longitude,latitude,start_date,start_time,weekday,duration,speed,name1,name2,name3,name4,name5,category1,category2,category3,category4,category5
0,1,121.576000,24.986000,7/22\n\n,11:00,4,NaN,NaN,myhome,myhome1,myhome2,myhome3,myhome4,c1,c2,c3,c4,c5
1,2,121.443000,24.433000,7/23\n,12:00,5,NaN,NaN,apple,apple1,apple2,apple3,apple4,c1,c2,c3,c4,c5
2,3,121.123000,24.765000,7/24,13:00\n,6,6.491232e+08,NaN,banana,banana1,banana2,banana3,banana4,c1,c2,c3,c4,c5
3,4,121.615898,25.058268,2020/07/27,15:32,2,6.491236e+08,-1.0,中國信託金融園區,PappaRich金爸爸-南港店,欣葉小聚-南港店,文薈館,雅悅會館 旗艦館,point_of_interest,restaurant,restaurant,museum,restaurant
4,5,121.613140,25.061817,2020/07/27,17:07,2,6.491236e+08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,6,121.613140,25.061817,2020/07/27,17:13,2,6.491233e+08,-1.0,中華潛水推廣協會,原鄭州路牛肉麵,南港抽水站,Coppii Lumii living coffee 冉冉生活,選手村滑雪用品專賣店,point_of_interest,restaurant,local_government_office,cafe,point_of_interest
6,7,121.610962,25.065368,2020/07/27,17:13,2,6.491233e+08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,8,121.610962,25.065368,2020/07/27,17:14,2,6.491235e+08,-1.0,臺北市立南湖高級中學,臺北市立南湖高中地下停車場,慕昇水電材料行,南湖高中運動中心/游泳池,東湖鴨霸王,secondary_school,parking,point_of_interest,gym,restaurant
8,9,121.607667,25.072519,2020/07/27,17:14,2,6.491235e+08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,10,121.607667,25.072519,2020/07/27,17:19,2,6.491255e+08,-1.0,葫洲,すき家Sukiya 葫洲店,中華民國律師公會全國聯合會 律師研習所,豆舖子(康寧店),爭鮮迴轉壽司 康寧店,subway_station,restaurant,point_of_interest,restaurant,restaurant
10,11,121.571063,25.082065,2020/07/27,17:19,2,6.491255e+08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,12,121.571063,25.082065,2020/07/27,17:57,2,6.491239e+08,-1.0,鳳華拉麵 （らぁ麺 鳳華）,山東餃子館,宸燕素食便當店,康青龍 內科園區店,TMMA台北格鬥運動館 內科館,restaurant,restaurant,restaurant,point_of_interest,gym
12,13,121.560997,25.085253,2020/07/27,18:43,2,6.491239e+08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,14,121.560997,25.085253,2020/07/27,18:54,2,6.491235e+08,-1.0,聯發科技股份有限公司,來來豆漿,太陽科技廣場,夯麵坊西湖店,永祥西點麵包店,point_of_interest,restaurant,point_of_interest,restaurant,bakery
14,15,121.558246,25.083384,2020/07/27,18:59,2,6.491235e+08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,16,121.558246,25.083384,2020/07/27,19:03,2,6.491238e+08,-1.0,Miramar美麗華摩天輪,美麗華大直影城,しゃぶしゃぶ温野菜日本涮涮鍋專門店 大直美麗華店,時時香RICE BAR - 美麗華店,金色三麥 美麗華店,point_of_interest,movie_theater,restaurant,restaurant,restaurant
16,17,121.566218,25.082009,2020/07/27,21:22,2,6.491238e+08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,18,121.566218,25.082009,2020/07/27,21:32,2,6.491239e+08,-1.0,（烤）小蒙牛頂級麻辣養生鍋Hotpot-內湖店,中國信託銀行 西湖分行,ALi揚智科技股份有限公司,日盛銀行（內湖分行）,瓦城泰國料理 - 西湖店,restaurant,bank,point_of_interest,bank,restaurant
18,19,121.563046,25.087342,2020/07/27,21:37,2,6.491239e+08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,20,121.563046,25.087342,2020/07/27,21:49,2,6.491234e+08,-1.0,軟訊資訊有限公司,全家便利商店 文湖店,阿華食堂,全聯福利中心Pxmart 內湖文湖,7-ELEVEN 金湖門市,electronics_store,convenience_store,restaurant,supermarket,convenience_store
20,21,121.561281,25.086418,2020/07/27,22:52,2,6.491235e+08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,22,121.561281,25.086418,2020/07/27,22:56,2,6.491235e+08,-1.0,聯合光纖通信United Fiber Optic Communication Inc.,大成集團 內湖協調中心,全聯福利中心Pxmart 內湖文湖,流行時尚家居(內湖門市店),台灣太陽誘電股份有限公司,point_of_interest,point_of_interest,supermarket,home_goods_store,point_of_interest
22,23,121.563023,25.087321,2020/07/27,23:06,2,6.492096e+08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,24,121.563085,25.087300,2020/07/28,14:25,3,0.000000e+00,-1.0,軟訊資訊有限公司,全家便利商店 文湖店,赫里翁 - 接待中心,阿華食堂,Siloam Coffee西羅亞咖啡/茶品/輕食,electronics_store,convenience_store,real_estate_agency,restaurant,cafe

In [259]:
stopLoc = location.drop(['location_id','category2','category3','category4','category5'], 1)

def string_to_mins(ts):
    a = int(ts.split(':')[0])
    b = int(ts.split(':')[1])
    c = a*60 + b
    return c

stopLoc['start_time'] = pd.to_datetime(stopLoc['start_time'], format='%H:%M', errors='ignore').apply(string_to_mins)
stopLoc.head()

,longitude,latitude,start_date,start_time,weekday,duration,speed,name1,name2,name3,name4,name5,category1
0,121.576000,24.986000,7/22\n\n,660,4,NaN,NaN,myhome,myhome1,myhome2,myhome3,myhome4,c1
1,121.443000,24.433000,7/23\n,720,5,NaN,NaN,apple,apple1,apple2,apple3,apple4,c1
2,121.123000,24.765000,7/24,780,6,6.491232e+08,NaN,banana,banana1,banana2,banana3,banana4,c1
3,121.615898,25.058268,2020/07/27,932,2,6.491236e+08,-1.0,中國信託金融園區,PappaRich金爸爸-南港店,欣葉小聚-南港店,文薈館,雅悅會館 旗艦館,point_of_interest
4,121.613140,25.061817,2020/07/27,1027,2,6.491236e+08,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [260]:
#delete trivial data
dropList = []

for row in range(1,len(stopLoc)-1):   
    
    #compared with the last record, over 2 place name duplicated will be deleted
    res = set(stopLoc.iloc[row,7:12]) & set(stopLoc.iloc[row-1,7:12])
    if len(res) > 1: 
        dropList.append(row)
    
    stopLoc.iloc[row,5] = stopLoc.iloc[row+1,3] - stopLoc.iloc[row,3] 
    if stopLoc.iloc[row,5] < 10:
        dropList.append(row)

stopLoc = stopLoc.drop(dropList)
stopLoc = stopLoc.loc[stopLoc['speed'] < 0]
stopLoc = stopLoc.reset_index(drop = True)

In [261]:
#calculate duration
dropList = []
for row in range(0,len(stopLoc)-1): 

    if stopLoc.iloc[row+1,2] == stopLoc.iloc[row,2]:
        stopLoc.iloc[row,5] = stopLoc.iloc[row+1,3] - stopLoc.iloc[row,3]   
    else:
        stopLoc.iloc[row,5] = stopLoc.iloc[row+1,3] + 1440 - stopLoc.iloc[row,3]

    if stopLoc.iloc[row,5] < 10:
        dropList.append(row)

stopLoc = stopLoc.drop(dropList)
stopLoc = stopLoc.reset_index(drop = True)
stopLoc = stopLoc.drop(['longitude','latitude','start_date','name2','name3','name4','name5','speed'], 1)
stopLoc

,start_time,weekday,duration,name1,category1
0,932,2,145.0,中國信託金融園區,point_of_interest
1,1077,2,66.0,鳳華拉麵 （らぁ麺 鳳華）,restaurant
2,1143,2,166.0,Miramar美麗華摩天輪,point_of_interest
3,1309,2,67.0,軟訊資訊有限公司,electronics_store
4,1376,2,929.0,聯合光纖通信United Fiber Optic Communication Inc.,point_of_interest
5,865,3,0.0,軟訊資訊有限公司,electronics_store

In [262]:
stopLoc = pd.merge(stopLoc, loc_to_cat, how='left', on='category1' )
stopLoc 
#For now, LACKING DATA: user_id
#把start_date加回來

,start_time,weekday,duration,name1,category1,location
0,932,2,145.0,中國信託金融園區,point_of_interest,NaN
1,1077,2,66.0,鳳華拉麵 （らぁ麺 鳳華）,restaurant,5.0
2,1143,2,166.0,Miramar美麗華摩天輪,point_of_interest,NaN
3,1309,2,67.0,軟訊資訊有限公司,electronics_store,NaN
4,1376,2,929.0,聯合光纖通信United Fiber Optic Communication Inc.,point_of_interest,NaN
5,865,3,0.0,軟訊資訊有限公司,electronics_store,NaN